.container{
    width: 700px;
    margin: 0 auto;
}

.container h1{
    text-align: center;

}

.container form{
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    /* justify-content: center; */

}

.input-wrapper {
    display: flex;
    width: calc(340px);
    flex-flow: column;
}

.input-wrapper label{
    margin-bottom: 10px;
}

.input-wrapper input{
    padding: 15px;
    border-radius: 5px;
}
.input-checkbox {
    width: 100%;
    display: flex;
}
.input-checkbox p{
    margin: 0px;
    padding-left: 5px;
}


.permanent-address{
    margin-bottom: 5px;
}

.street{
    margin-top: 24px;
}
.field {
    display: flex;
    flex-flow: column;
    width: calc(183px);
}
.paragraph {
    display: flex;
    width: 100%;
}

.btn-button {
    margin-top: 2%;
    margin-left: 37%
}
.button {
    padding: 10%;
}